/** $media queries **/

#oscaddie_alfresco-admin {
  display: block;
  width: 950px;
  background-color: #ffffff;
  background: url(../../images/cos-bg.png) no-repeat bottom right;
  border: 1px solid #EDEDED;
}

#oscaddie_alfresco-admin .header {
  padding: 4px;
  margin-bottom: 24px;
}

#oscaddie_alfresco-admin .logo {
  display: block;
  width: 340px;
  height: 64px;
  margin: 24px 0 0 48px;
  text-indent: -9999px;
  background: url(../../images/cos-hori.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin .wrapper .sidebar {
  width: 200px;
  height: 300px;
  margin: 0 0 0 40px;
  float: left;
}

#oscaddie_alfresco-admin .sidebar .button {
  display: block;
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 200px;
  height: 27px;
  text-indent: -99999px;
}

#oscaddie_alfresco-admin .sidebar .button:hover {
  background-position: 0 -27px;
}

#oscaddie_alfresco-admin .sidebar .button.disabled {
  background-position: 0 -54px;
}

#oscaddie_alfresco-admin .sidebar .account {
  background-image: url(../../images/buttons-account-side.png);
}

#oscaddie_alfresco-admin .sidebar .portal {
  background-image: url(../../images/buttons-portal-side.png);
}

#oscaddie_alfresco-admin .sidebar .mapping {
  background-image: url(../../images/buttons-mapping-side.png);
}

#oscaddie_alfresco-admin .sidebar .file {
  background-image: url(../../images/buttons-file-side.png);
}

#oscaddie_alfresco-admin .sidebar .report {
  background-image: url(../../images/buttons-report-side.png);
}

#oscaddie_alfresco-admin .sidebar .sso {
  background-image: url(../../images/buttons-sso-side.png);
}

#oscaddie_alfresco-admin .sidebar .workflow {
  background-image: url(../../images/buttons-workflow-side.png);
}

#oscaddie_alfresco-admin .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#oscaddie_alfresco-admin .sidebar ul li {
  width: 200px;
  height: 27px;
  margin: 0 0 6px 0;
  padding: 0;
  background: none;
}

#oscaddie_alfresco-admin .content {
  display: block;
  float: left;
  width: 664px;

  margin: 0 0 0 16px;
}

#oscaddie_alfresco-admin .frame {
  background-color: rgba(221, 221, 221, 0.5);
  border: 1px solid #dddddd;
  padding: 12px;
}

#oscaddie_alfresco-admin .footer {
  height: 32px;
}

#oscaddie_alfresco-admin .copyright {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #CDCDCD;
  padding: 0;
  margin: 16px 0 0 40px;
}

#oscaddie_alfresco-admin .clearfix {
  display: block;
}

#oscaddie_alfresco-admin .clear {
  clear: both;
  height: 1px;
}

/*
 * DASHBOARD
 */

#oscaddie_alfresco-admin .dashboard {
  min-height: 424px;
  width: 840px;
  margin: 0 0 0 40px;
}

#oscaddie_alfresco-admin .dashboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#oscaddie_alfresco-admin .dashboard ul li {
  display: inline;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
  padding: 0;
  background: none;
}

#oscaddie_alfresco-admin .dashboard .icon {
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 200px;
  height: 200px;
  text-indent: -99999px;
}

#oscaddie_alfresco-admin .dashboard .icon:hover {
  background-position: 0 -200px;
}

#oscaddie_alfresco-admin .dashboard .icon.disabled {
  background-position: 0 -400px;
}

#oscaddie_alfresco-admin .dashboard .account {
  background-image: url(../../images/buttons-account.png);
}

#oscaddie_alfresco-admin .dashboard .portal {
  background-image: url(../../images/buttons-portal.png);
}

#oscaddie_alfresco-admin .dashboard .mapping {
  background-image: url(../../images/buttons-mapping.png);
}

#oscaddie_alfresco-admin .dashboard .file {
  background-image: url(../../images/buttons-file.png);
}

#oscaddie_alfresco-admin .dashboard .report {
  background-image: url(../../images/buttons-report.png);
}

#oscaddie_alfresco-admin .dashboard .sso {
  background-image: url(../../images/buttons-sso.png);
}

#oscaddie_alfresco-admin .dashboard .workflow {
  background-image: url(../../images/buttons-workflow.png);
}

/*
 * CONTENT AREA
 */
#oscaddie_alfresco-admin .wrapper .content h2 {
  font-size: 3.0em;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 0 16px 0;
  color: #777777;
  line-height: 100%;
}

#oscaddie_alfresco-admin .wrapper .content .breadcrumb {
  position: relative !important;
  color: #9f9f9f !important;
  top: 0 !important;
  left: 0 !important;
  font-size: 1.2em !important;
  margin: 0 !important;
}

/*
 * PORTAL
 */
#oscaddie_alfresco-admin #portal-alfresco,
#oscaddie_alfresco-admin #portal-drupal {
  margin-bottom: 24px;
}

#oscaddie_alfresco-admin #portal-alfresco table,
#oscaddie_alfresco-admin #portal-drupal table {
  float: left;
  width: 540px;
  margin: 12px 0 0 0;
}

#oscaddie_alfresco-admin .icon.drupal {
  background: url(../../images/icon-drupal.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin .icon.alfresco {
  background: url(../../images/icon-alfresco.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin h3.icon {
  padding: 0 0 0 30px;
  line-height: 22px;
  font-size: 1.5em;
}

#oscaddie_alfresco-admin #portal-alfresco .add,
#oscaddie_alfresco-admin #portal-drupal .add {
  float: right;
  margin-top: 36px;
}

/*
 * BUTTONS
 */
#oscaddie_alfresco-admin #portal-drupal form .buttons,
#oscaddie_alfresco-admin #portal-alfresco form .buttons {
  margin-bottom: -24px;
}

#oscaddie_alfresco-admin .buttons {
  display: block;
  height: 24px;
  margin-top: 32px;
}

#oscaddie_alfresco-admin .button {
  display: block;
  width: 80px;
  height: 20px;
  text-indent: -99999px;

  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#oscaddie_alfresco-admin .buttons .button {
  float: right;
  margin: 0 6px 0 0;
}

#oscaddie_alfresco-admin form .buttons .form-submit {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

#oscaddie_alfresco-admin form .buttons .form-submit.delete {
  float: none;
}

#oscaddie_alfresco-admin .button.add {
  background: url(../../images/buttons-add.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin .button.cancel {
  background: url(../../images/buttons-cancel.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin .button.ok {
  background: url(../../images/buttons-ok.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin .button.delete {
  background: url(../../images/buttons-delete.png) 0 0 no-repeat;
}

#oscaddie_alfresco-admin .add.disabled {
  background-position: 0 -20px;
}

#oscaddie_alfresco-admin .add:hover,
#oscaddie_alfresco-admin .cancel:hover,
#oscaddie_alfresco-admin .delete:hover,
#oscaddie_alfresco-admin .ok:hover {
  background-position: 0 -20px;
}

/** $functions **/

@function respWidth($target, $context) {
  @return ($target / $context) * 100%;
}

/** $media queries **/

@media screen and (max-width: 1030px) {

  #oscaddie_alfresco-admin {
    width: 100%;
    .logo {
      background-size: contain;
      height: 50px;
      margin: 20px auto;
      width: 196px;
    }
    .header {
      margin-bottom: 0;
    }
    .dashboard {
      height: auto;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      ul li {
        display: inline-block;
        float: none;
      }
    }
    .content {
      margin-left: 10px;
      width: -moz-calc(100% - 230px);
      width: -webkit-calc(100% - 230px);
      width: calc(100% - 230px);
    }
    .wrapper {
      .content {
        h2 {
          font-size: 2em;
        }
      }
    }
    .wrapper .sidebar {
      height: auto;
      margin-left: 10px;
    }
    .sidebar {
      .account {
        background-color: #afb1b4;
      }
      .portal {
        background-color: #78a6af;
      }
      .mapping {
        background-color: #c7c9a5;
      }
      .file {
        background-color: #6f98b4;
      }
      .report {
        background-color: #bbacc0;
      }
      .sso {
        background-color: #e8be93;
      }
      .workflow {
        background-color: #9bcee7;
      }
      ul li {
        height: 40px;
        text-align: center;
      }
      .button {
        background-image: none;
        color: #fff;
        height: 40px;
        line-height: 3.5em;
        text-indent: 0;
        &.disabled {
          background-color: #e8e8e8;
        }
      }
    }
    #portal-alfresco table,
    #portal-drupal table {
      width: 100%;
    }
    .footer {
      height: 25px;
    }
    .copyright {
      margin: 15px 0 0 10px;
      text-align: left;
    }
  }

}

@media screen and (max-width: 600px) {
  #oscaddie_alfresco-admin {
    .sidebar {
      ul {
        li {
          width: 100%;
        }
      }
      .button {
        margin: 0 auto;
        width: 95%;
      }
    }
  }
}
