#oscaddie_alfresco-admin #mapping form {
  display: block;
}

#oscaddie_alfresco-admin #mapping #drupal {
  display: block;
  float: left;
  width: 300px;
  min-height: 240px;
}

#oscaddie_alfresco-admin #mapping #alfresco {
  display: block;
  float: right;
  width: 300px;
  min-height: 240px;
}

#oscaddie_alfresco-admin #mapping fieldset {
  border: 0;
  background: none;
  margin: 12px 0 0 8px;
  padding: 0;
}

#oscaddie_alfresco-admin #mapping fieldset legend {
  display: block;
  position: relative;
  width: 100%;
  height: 16px;
}

#oscaddie_alfresco-admin #mapping fieldset .fieldset-legend {
  margin: 0;
}

#oscaddie_alfresco-admin #mapping fieldset .alfresco-types {
  margin: 0 0 12px -6px;
}

#mapping-fieldset {
  border: 1px solid #9f9fed;
  padding: 12px;
  margin-top: 24px;
}

#mapping-fieldset h3 {
  font-size: 1.5em;
}

#mapping-fieldset .form-item {
  float: left;

  width: 200px;
}
